html {
  height: 100%;
  width: 100%;
}

header {
}

main {
}

nav {
  background-color: #8C494F;
  text-align: center;
}

nav a {
  color: white;
  background-color: #D9843B;
  text-decoration: none;
  border: 2px solid white;
  padding: 5px;
}

nav a:hover {
  color:white;
  background-color: #D9653B;
  padding: 5px;
  text-decoration: none;
}

.nav__logoimage {
  width: 300px;
  padding: 20px;
}

body {
  background-color: #fff8eb;
  color: black
}

h2 {
  text-align: center;
  color: #8C494F;
}

p {
  margin: auto;
  text-align: center;
  max-width: 900px;
  color: black;
  text-wrap: balance;
}

table {
  margin-left: auto;  /* 2. */
  margin-right: auto; /* 2. */
}

table img {
  height: 241px;
  width: 350px;
}

.main__menuimage {
  display: block;
  margin: auto;
  width: 800px;
  padding: 15px;
}

iframe {
  display: block; /* 1. */
  margin: auto; /* 1. */
  padding: 15px;
}

footer {
  background-color: #8C494F;
  color: white;
  padding: 5px;
  text-align: center;
}

/* Easter Egg and playing with ID selector */

#elmsLink {
  color:white;
  text-decoration: none;
}

#elmsLink:hover {
  background-color: #115438;
  text-decoration: none;
  padding: 2px;
}


/* 
1. google search: "centering iframe" >> 
https://stackoverflow.com/questions/8366957/how-to-center-an-iframe-horizontally

2. google search: "centering table with css" >> 
https://www.w3schools.com/howto/howto_css_table_center.asp
*/


/* 
--- Code Graveyard --- 


*/